<div id="send_data" class="load">
  <table class="table table-bordered table-dark">
    <tr>
      <th></th>
      <th>X</th>
      <th>Y</th>
      <th>Z</th>
    </tr>
    <tr>
      <th scope="row">Gyroscope:</th>
      <td>{{ gyrox }}</td>
      <td>{{ gyroy }}</td>
      <td>{{ gyroz }}</td>
    </tr>
    <tr>
      <th scope="row">Accelerometer:</th>
      <td>{{ accex }}</td>
      <td>{{ accey }}</td>
      <td>{{ accez }}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Prediction:</th>
      <td colspan="3" align="center">{{ predict }}</td>
    </tr>
  </table>
</div>
